body {
  margin: auto;
  /* background-color:#01254F; */
  background:url(./meryChirstmasBg.gif) center center/cover no-repeat;
  background-position: bottom right;
  text-align: center;
  min-height: 100vh;
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.main {
  position: relative;
  width: 200px;
  height: 50px;
  background: #272727;
  color:#fff;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid white;
  overflow: hidden;
  }

.main:active{
      background:#fff;
      color:#91cff8;
  }
.fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.main-wrapper{
display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:flex-start;
    justify-content:center;
}

.content-wrapper{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

button{
  outline:none; 
  -webkit-tap-highlight-color: transparent;
}

input[type=text] {
  height: 2rem;
  padding: 2px 6px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid #a3aab8;
  border-radius: 5px;
  box-sizing: border-box;
}

.item{
  font-size: 2rem;
  color: #6c778d;
}

.button{
  margin: auto 5px;
  height: 2rem;
  border: 1px solid #a3aab8;
  border-radius: 5px;
  box-sizing: border-box;
}
.company-logo{
    padding:20px;
    width:140px;
    height:auto;
    /* background:#a6a5ae; */
    position:fixed;
    right:10px;
    bottom:10px;
}
.result-popups{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.result-popups button{
    border:none;
    border-radius:4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 22px;
    background:#E0E0E0;
    color:black;
}

.result-popups button:hover{
    background:#BDBDBD;
}
.result-popups button:active{
background:#9E9E9E;
}
.merrry-christmas{
    position:fixed;
    left:0px;
    width:200px;
    height:auto;
    top:0px;
}
.christmas-tree{
    position:fixed;
    left:0px;
    width:200px;
    height:auto;
    bottom:0px;
}