.winnerList{
    display: flex;
    position: fixed;
    right:90px;
    top:10px;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.winnerList .winner{
    display: flex;
    width:100%;
    flex-direction:row;
    align-items: flex-start;
}
.winnerList .winner .order{
    color:#fff;
    padding-right:16px;
}

