.winnerList{
    display: flex;
    position: fixed;
    left:0;
    top:0px;
    border-top:2px #cb2324 dotted;
    border-bottom:2px #cb2324  dotted;
    flex-direction:column;
    padding:10px 110px;
    padding-top:130px;
    justify-content: space-evenly;
    align-items: flex-start;
    min-width:150px;

    background:rgba(0, 0, 0, 0.4);
    color:#f1c40f;
    transition: 2s ease-in-out;
}

.winnerList .winner{
    display: flex;
    width:100%;
    flex-direction:row;
    align-items: flex-start;
}
 .winnerList .winner-value{
    color:#fff;
    font-weight: 500;;

 }
.winnerList .winner .order{
    padding-right:16px;
}

